@page "/details/{ProductId:int}"



<h3>Details</h3>
@if (Product is null)
{

    <h2>Cargando...</h2>
}
else
{

    <div class="card container mt-4">
        <div class="card-header ml-10 row">
            <div class="col-12 col-md-6">
                <h2 class="text-primary">@Product.Name</h2>
            </div>

        </div>

        <div class="col-12 col-md-6 text-end pt-4">

            <span class="badge bg-info pt-2">
                @Product.Category
            </span>

            <span class="badge bg-warning pt-2">
                @Product.Description
            </span>

        </div>

        <div class="card-body">
            <div class="container rounded p-2">
                <div class="row">
                    <div class="col-6 bg-light texr-center">
                        <img src="@Product.PhotoURL" class="rounded" />
                    </div>
                    <div class="col-2 pt-2 m-2 bg-light text-center">
                        <p>@Product.Price</p>
                    </div>
                    <div class="col-2">
                        <p>@Product.Summary</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <a class="btn btn-primary form-control" href="/">Regresar a inicio</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-primary form-control" href="/">agregar a carrito</button>
                </div>
            </div>

        </div>

    </div>
}


@code {

}
